
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  footer {
    padding: 1rem 0;
    color: #999;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
